# IntelliJ IDEA
.idea/
*.iml

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pylintrc

# Logs and temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Test outputs
coverage/
pytest_cache/
